<div class="contact-section">
  <h1 class="contact-title">Contactez-moi</h1>

  <div class="contact-form-container">
    <form class="contact-form" action="https://formspree.io/f/myzyeaqp" method="POST">
      <div class="form-row">
        <input type="text" name="nom" placeholder="Nom *" class="form-input" required>
        <input type="text" name="prenom" placeholder="Prénom *" class="form-input" required>
      </div>
      <div class="form-row">
        <input type="email" name="email" placeholder="E-mail *" class="form-input" required>
        <input type="tel" name="telephone" placeholder="Téléphone" class="form-input">
      </div>
      <input type="text" name="objet" placeholder="Objet *" class="form-objet" required>
      <textarea name="message" placeholder="Message *" class="form-textarea" required></textarea>
      <div class="consent-checkbox">
        <p class="mandatory-field">* Champ obligatoire</p>
      </div>
      <div class="consent-checkbox">
        <input type="checkbox" id="consent" class="checkbox-input" required>
        <label for="consent" class="checkbox-label">J’accepte le traitement des données *</label>
      </div>
      <button type="submit" class="submit-button">Envoyer</button>
    </form>

    <div class="contact-info">
      <div class="contact-item">
        <span class="material-icons">mail</span>
        <p>marine.hilliou&#64;orange.fr</p>
      </div>
      <div class="contact-item">
        <span class="material-icons">phone</span>
        <p>+33 6 20 01 97 92</p>
      </div>
      <div class="contact-item">
        <span class="material-icons">location_on</span>
        <p>Localisation: Rennes, France</p>
      </div>
      <div class="linkedin-container">
        <a href="https://www.linkedin.com/in/marine-hilliou-247863173/" target="_blank" class="linkedin-icon">
            <img src="/assets/images/linkedin.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</div>
