.skills-section {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
  }

  .skills-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 40px;
  }

  .skills-subtitle {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
  }

  .skills-content {
    display: flex;
    gap: 130px;
    align-items: flex-start;
  }

  .skills-bars {
    width: 50%;
    text-align: left;
  }

  .skill {
    margin-bottom: 20px;
  }

  .skill-name {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 6px;
  }

  .progress {
    background-color: #262626;
    height: 100%;
    width: 0;
    transition: width 1s ease-in-out;
  }

  .animate-progress .progress {
    width: 0;
  }

  .show-progress .progress {
    width: var(--progress-width);
  }

  .cv-download {
    width: 50%;
  }

  .cv-image {
    max-width: 80%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .btn-download {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #262626;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .btn-download:hover {
    background-color: #363636;
  }

/* Styles pour les écrans plus petits (mobile) */
@media (max-width: 768px) {
  .skills-section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .skills-content {
    display: flex;
    flex-direction: column; /* Empile les sections verticalement */
    align-items: center;
    gap: 40px; /* Espace entre les sections de compétences et le CV */
  }

  .skills-bars {
    width: 100%; /* Utilise toute la largeur disponible */
  }

  .skill {
    margin-bottom: 15px;
  }

  .skill-name {
    font-size: 0.9rem; /* Réduit la taille du texte */
  }

  .progress-bar {
    height: 5px; /* Diminue la hauteur de la barre pour un meilleur look sur mobile */
  }

  .cv-download {
    width: 100%; /* Utilise toute la largeur disponible */
    text-align: center;
  }

  .cv-image {
    max-width: 70%; /* Réduit la taille de l'image sur mobile */
    margin: 20px auto;
  }

  .btn-download {
    font-size: 0.9rem; /* Réduit la taille du texte */
    padding: 8px 16px; /* Réduit le padding pour le bouton */
  }
}
