<div class="skills-section">
  <h1 class="skills-title">Compétences</h1>

  <div class="skills-content">
    <!-- Compétences -->
    <div class="skills-bars">
      <h2 class="skills-subtitle">LANGAGES</h2>
      <div class="skill">
        <span class="skill-name">Kotlin</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 90%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Java</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 80%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Python</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 60%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">C/C++</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 40%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Javascript</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 60%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Typescript</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 50%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">HTML</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 40%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">CSS</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 40%;"></div>
        </div>
      </div>
      <h2 class="skills-subtitle">FRAMEWORKS</h2>
      <div class="skill">
        <span class="skill-name">Angular</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 50%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Spring</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 50%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Flutter</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 50%;"></div>
        </div>
      </div>
      <h2 class="skills-subtitle">ENVIRONNEMENTS</h2>
      <div class="skill">
        <span class="skill-name">Windows</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 90%;"></div>
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">Linux</span>
        <div class="progress-bar">
          <div class="progress" style="--progress-width: 90%;"></div>
        </div>
      </div>
    </div>

    <!-- CV et bouton de téléchargement -->
    <div class="cv-download">
      <img src="/assets/images/CV_photo.png" alt="CV Image" class="cv-image">
      <a href="/assets/documents/CV.pdf" download="CV_Marine_Hilliou.pdf" class="btn-download">Télécharger mon
        CV</a>
    </div>
  </div>
</div>
