<link rel="stylesheet" href="portfolio.component.css">
<div class="portfolio-section">
  <h1 class="portfolio-title">Portfolio</h1>
  <p class="portfolio-intro">Découvrez quelques-uns de mes projets réalisés durant ma formation ou personnels.</p>

  <div class="portfolio-grid">
    <!-- Projet 1 -->
    <div class="portfolio-item hidden" (click)="toggleDescription($event)">
      <!--<a href="https://github.com/marinehilliou/marinehilliou.github.io" target="_blank" class="portfolio-link">-->
      <div class="portfolio-image">
        <img src="/assets/images/projet1.png" alt="Projet 1">
        <div class="overlay">
          <p class="portfolio-projectOverlay">QuickPlay est une application de mini-jeux développée durant ma formation
            et approfondie ensuite. Elle propose deux modes de jeu : solo et multijoueur, avec divers jeux comme des
            quiz sur les drapeaux, un jeu type Fruit Ninja, et un jeu type 2048.<br><br>Langage utilisé: Kotlin</p>
        </div>
      </div>
      <p class="portfolio-projectTitle">QuickPlay</p>
      <p class="portfolio-projectDescription">Application de mini-jeux avec plusieurs modes et jeux amusants</p>
      <p *ngIf="isDescriptionVisible" class="portfolio-description-mobile">QuickPlay est une application de mini-jeux
        développée durant ma formation et approfondie ensuite. Elle propose deux modes de jeu : solo et multijoueur,
        avec divers jeux comme des quiz sur les drapeaux, un jeu type Fruit Ninja, et un jeu type 2048.<br><br>Langage
        utilisé: Kotlin</p>
      <!--</a>-->
    </div>

    <!-- Projet 2 -->
    <div class="portfolio-item hidden" (click)="toggleDescription($event)">
      <!--<a href="https://github.com/marinehilliou/marinehilliou.github.io" target="_blank" class="portfolio-link">-->
      <div class="portfolio-image">
        <img src="/assets/images/projet2.png" alt="Projet 2">
        <div class="overlay">
          <p class="portfolio-projectOverlay">Application bancaire réalisée durant ma formation pour se familiariser
            avec les frameworks Spring et Angular. Elle permet d’effectuer des transactions, de voir l’historique et
            d'obtenir une vue d'ensemble sur le compte.<br><br>Langages utilisés: Spring, Angular, PostgreSQL, HTML, CSS
          </p>
        </div>
      </div>
      <p class="portfolio-projectTitle">Application de Banque</p>
      <p class="portfolio-projectDescription">Application bancaire pour gérer les transactions</p>
      <p *ngIf="isDescriptionVisible" class="portfolio-description-mobile">Application bancaire réalisée durant ma
        formation pour se familiariser avec les frameworks Spring et Angular. Elle permet d’effectuer des transactions,
        de voir l’historique et d'obtenir une vue d'ensemble sur le compte.<br><br>Langages utilisés: Spring, Angular,
        PostgreSQL, HTML, CSS</p>
      <!--</a>-->
    </div>

    <!-- Projet 3 -->
    <div class="portfolio-item hidden" (click)="toggleDescription($event)">
      <!--<a href="https://github.com/marinehilliou/marinehilliou.github.io" target="_blank" class="portfolio-link">-->
      <div class="portfolio-image">
        <img src="/assets/images/projet3.png" alt="Projet 3">
        <div class="overlay">
          <p class="portfolio-projectOverlay">HomeGarden est une application développée en groupe durant ma formation
            pour contrôler une tour hydroponique. Elle mesure la qualité de l’eau, la température, et permet de
            programmer l’arrosage et contrôler la luminosité.<br><br>Langage utilisé: Kotlin</p>
        </div>
      </div>
      <p class="portfolio-projectTitle">HomeGarden</p>
      <p class="portfolio-projectDescription">Application de contrôle d'une tour hydroponique pour le jardinage
        intérieur</p>
      <p *ngIf="isDescriptionVisible" class="portfolio-description-mobile"> HomeGarden est une application développée en
        groupe durant ma formation pour contrôler une tour hydroponique. Elle mesure la qualité de l’eau, la
        température, et permet de programmer l’arrosage et contrôler la luminosité.<br><br>Langage utilisé: Kotlin</p>
      <!--</a>-->
    </div>

    <!-- Ajouter plus de projets ici -->
  </div>
</div>
