<nav class="transparent">
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-links">
    <li><a href="#home">Accueil</a></li>
    <li><a href="#profile">Profil</a></li>
    <li><a href="#skills">Compétences</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<!-- Sections -->
<router-outlet></router-outlet>

<app-home id="home"></app-home>
<app-profile id="profile"></app-profile>
<app-skills id="skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact id="contact"></app-contact>
