/*nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 1rem;
    text-transform: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #464646;
}


nav.transparent {
    background-color: transparent;
}

nav.scrolled {
    background-color: rgba(38, 38, 38, 0.9);
}

body {
    padding-top: 50px;
}

.section {
    padding: 60px;
}

html {
    scroll-behavior: smooth;
}*/
/* Styles du menu pour les écrans larges */
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 30px 50px;
  z-index: 10;
  font-family: 'PT Sans', sans-serif;
  transition: background-color 0.3s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-size: 1rem;
  text-transform: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #464646;
}


nav.transparent {
  background-color: transparent;
}

nav.scrolled {
  background-color: rgba(38, 38, 38, 0.9);
}

body {
  padding-top: 50px;
}

.section {
  padding: 60px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  transition: all 0.3s;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
  nav {
    padding: 15px;
  }

  nav ul {
    display: none; /* Caché par défaut */
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(38, 38, 38, 0.9);
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
  }

  nav ul.active {
    display: flex; /* Affiche le menu lorsque la classe active est ajoutée */
  }

  nav ul li {
    margin: 20px 0;
  }

  .menu-toggle {
    display: block;
  }
}
