<div class="profile-container">
    <h1 class="profile-title">A propos de moi</h1>
    <div class="profile-content">
      <div class="profile-image">
        <img src="assets/images/photo.png" alt="Marine Hilliou">
      </div>
      <div class="profile-description">
        <p>Diplômée de l'ESIR en septembre 2024, je suis à la recherche d'un poste en CDI en tant que développeuse mobile, web ou logiciel.</p>
        <p>Passionnée par les nouvelles technologies et l'innovation, j'ai acquis une solide expérience à travers divers projets académiques et professionnels.</p>
        <p>Ma formation m'a permis de développer des compétences techniques en Java, Kotlin, Python, et Javascript, ainsi que des connaissances approfondies dans les frameworks Spring et Angular.</p>
        <p>Je suis particulièrement intéressée par les environnements de développement dynamique et les défis techniques, et je suis motivée pour contribuer à des projets innovants et stimulants.</p>
      </div>
    </div>
    <div class="about-me-banner">
      <h1>Actuellement</h1>
      <h2>en recherche d'opportunités</h2>
    </div>
  </div>
  