<div class="profile-container">
    <h1 class="profile-title">A propos de moi</h1>
    <div class="profile-content">
      <div class="profile-image">
        <img src="assets/images/photo.png" alt="Marine Hilliou">
      </div>
      <div class="profile-description">
        <p>Jeune ingénieure diplômée de l'ESIR en septembre 2024, en spécialité informatique.
          Après une année en alternance au sein de Famoco en tant que développeuse mobile, je suis à la recherche d'un poste en CDI sur Rennes, dans le développement mobile, web ou logiciel.<br><br>
          Ma formation m'a permis de développer des compétences techniques en Java, Kotlin, Python, et Javascript, ainsi que des connaissances dans les frameworks Spring et Angular. J'ai également acquis de l'expérience à travers les différents projets académiques et professionnels.<br><br>
          Je suis déterminée à poursuivre l’apprentissage de nouvelles compétences et à renforcer mes connaissances techniques. Je suis également motivée pour contribuer à des projets innovants et stimulants.</p>
      </div>
    </div>
    <div class="about-me-banner">
      <h1>Actuellement</h1>
      <h2>en recherche d'opportunités</h2>
    </div>
  </div>
